# انسخ هذا الملف إلى keystore.properties وأضف بياناتك
# لا ترفعه على GitHub — أضفه لـ .gitignore

KEYSTORE_FILE=../rdp-pro-keystore.jks
KEYSTORE_PASS=YOUR_KEYSTORE_PASSWORD
KEY_ALIAS=rdppro
KEY_PASS=YOUR_KEY_PASSWORD
